* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: black;
  color: #fff;
}

/************ NAV ****************/
nav {
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  max-width: 110rem;
  margin: 0 auto;
  gap: 2rem;
  justify-content: space-between;
}

nav h2 {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: 600;
}

ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

li i {
  font-size: 1.6rem;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time h4 {
  font-size: 1.67rem;
}

.time p {
  font-size: 1.4rem;
}

/*********** HERO SECTION ***********/
.hero-header {
  display: flex;
  padding: 5rem 2rem;
  margin: 0 auto;
  max-width: 110rem;
  justify-content: space-between;
  gap: 8rem;
}

.hero-text {
  flex-basis: 50%;
  padding-top: 6rem;
}

.about-section {
  flex-basis: 50%;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-section div p {
  font-size: 1.45rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-text p:nth-child(1) {
  font-size: 1.9rem;
  font-weight: 600;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.hero-text h1 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  padding-bottom: 1.6rem;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.about-section img {
  width: 28rem;
  border-radius: 6px;
}

/*************** GOALS ***************/
.section-goals {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0.6rem;
  padding-top: 6rem;
}

.section-goals h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

/********* AIMS **********/

.aims {
  padding: 2rem 4rem;
}

.aim {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-bottom: 1.9rem;
  background-color: #fff;
  color: #000;
  margin-bottom: 4rem;
  border-radius: 1rem;
  padding: 3rem 2.8rem;
}

.aim h6 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.aim p {
  font-size: 1.5rem;
}

/*************** RESOURCES LINKS ************/
.section-links,
.section-useful {
  padding-top: 3rem;
}

.section-links h2,
.section-useful h2 {
  font-size: 3rem;
  padding-bottom: 1.7rem;
}

.section-links div,
.section-useful div {
  display: flex;
  gap: 3rem;
}

.section-links div a,
.section-useful div a {
  color: #fff;
  font-size: 1.6rem;
}

.section-useful h2 {
  text-align: center;
}

.section-useful {
  padding-bottom: 6rem;
}

.section-useful div {
  align-items: center;
  justify-content: center;
}

/*********** FOOTER *************/
footer {
  padding: 3rem;
  border-top: 1px solid #fff;
}

.footer {
  text-align: center;
  font-size: 1.5rem;
}

/*************MEDIA QUERIES ************/
@media (max-width: 1000px) {
  nav,
  .hero-header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .time {
    padding-top: 1rem;
    transform: translateX(24vw);
  }
}

@media (max-width: 900px) {
  .hero-header {
    flex-direction: column;
  }

  .hero-text {
    text-align: center;
  }

  .section-links div {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-header {
    padding-top: 1rem;
  }

  .section-links div,
  .section-useful div {
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .time {
    padding-top: 1rem;
    transform: translateX(19vw);
  }
}
